[2017-10-07 19:56] dbkaplun opened #2 "Feature request: default avatar color based on hash of name"

[2017-10-07 20:22] LasseRafn commented on #2
Thanks for adding this! 👍  I’ll put some work into this

[2017-10-07 20:23] LasseRafn opened #3 "Feature: Google Fonts"

[2017-10-09 11:48] l2aelba opened #4 "Bug : Thai vowels should be no count"
Since you used thai-lang in promote pic, and ui-avatars is supported thai

![image](https://user-images.githubusercontent.com/983458/31336614-dfc98840-acf7-11e7-9e6c-6fdeee455f57.png)

This is good, **But a bit wrong with counting chars**.

**Some vowels should be not count.**

**Example:**
if **ชิน** = 2 (not 3) (result should be **ชิน** (3) not just **ชิ** (2))

Wiki : https://en.wikipedia.org/w

[2017-10-11 19:43] 3D-I opened #5 "Transparent background (Lowercase support)"
Hello, thanks for your hard work. Appreciated.

I am writing an extension for phpBB, I see in the references of the Web API there isn't a transparence method to use. Is it implemented and just nor mentioned or?

Example:
https://ui-avatars.com/api/?name=3Di&length=3&background=0D8ABC&color=fff&rounded=true&size=128

The img generated is rounded but on a grey background. (and doesn't take care of l

[2017-10-11 20:12] 3D-I commented on #5
Sorry, I just noticed that the Img has been saved as transparent. :(
Feek free to close this.

Regards and keep up the good work.

[2017-10-11 21:28] LasseRafn commented on #5
Hello! Thanks for taking time to report bugs! :)

I think, as you mention, that it is transparent, but feel free to correct me 👍

I will add a method to allow lowercase as per your request, so I will keep the issue open but simply edit it.

Thanks!

[2017-10-11 21:28] LasseRafn commented on #5
Also, thanks for using this in your extension! Make sure to let me know so I can link to it on the site 👍

[2017-10-11 21:29] LasseRafn commented on #4
Hello! Thank you, I'm not native with Thai so any help is useful! 😄

I will look into this!

[2017-10-11 21:39] 3D-I commented on #5
Sure thing!
Well I am quite sure the grey background has been not included within the savedIMG because I posted that image on phpBB and shows as rounded/transparent bkg.

I will see what happens when the URL to the image will be stored into the appropriated user's DB field "user_avatar" in this case.. I will keep you posted.

Many thx. :)

[2017-10-11 21:41] 3D-I commented on #5
About the Lowercase, you know there is
`$nameOrInitials = mb_strtoupper(trim($this->parameter_name));` there in the initials.php ;)

[2017-10-13 09:36] LasseRafn commented on #5
Okay, great! 👍

Haha yeah, I added it initially on purpose because it was what I needed, never thought about lowercase support... but..

https://ui-avatars.com/api/?uppercase=false&name=lowercase+Support

Now it is supported, in the API and in the core packages 😄

[2017-10-13 09:36] #5 closed

[2017-10-13 21:44] 3D-I commented on #5
Great! Thank you.

Btw, I am involved in about 10 extensions for phpBB so this one is the last one but I am at a good point, here is the newly created repository with some grabs (using your API within anothe rextension of mine)

https://github.com/3D-I/pia#grabs

I will keep you informed. :)

[2017-10-13 21:54] 3D-I opened #6 "Make it an array the "multiple usernames joined" exclusions on a per use case"
It happens some fancy user likes to join multiple usernames with an hyphenation or the likes, I started making an array of exclusions which is managed as per admin's choice in the phpBB's ACP (Administration Control Panel)

This way.. you know ;)

`/* for user "John Doe" or "John_Doe" use 'John+Doe' etc */
$pia_rep_ary = [' ', '_'];
$name = str_replace($pia_rep_ary, '+', $this->user->data['usernam

[2017-10-13 23:23] 3D-I opened #7 "Serving the API response as per (SERVER+filename.png)"
I saw this line
https://github.com/LasseRafn/ui-avatars/commit/acedac86b31b0c738c9d6ae1ebf44e7f1fdd899a#diff-828e0013b8f3bc1bb22b4f57172b019dR19

It seems very clear to me the file is already stored like that, it could be incredibly outstanding to have the option the filename to be served directly (an option, so to don't break the WP's compatibility).

In PHPBB as per the core code I can use the n

[2017-10-13 23:24] 3D-I opened #8 "HTTP responses"
Does the API serve http responses as well or should I use cUrl?

Thanks :)

[2017-10-14 01:50] 3D-I opened #9 "On cache"
Hi there :) Sorry for being dense, first off.

I would like to know if the cached timegap
https://github.com/LasseRafn/ui-avatars/blob/master/cron/cleanup.php
which is at the moment hard-coded to 2 days could become an option or if there are any reasons why it is static, thanks in advance.

Best regards :1st_place_medal:

[2017-10-15 00:50] LasseRafn commented on #9
Hi :)

Its only used for clearing up space internally on the system, but if you (or anything) could find a solution for making it customizable, I would accept a pull request 👍

Problem is that it's a job that runs ever hour, simply checking if a file is older than two days, so unless the storage time was stored somewhere, I don't know how one would approach this

[2017-10-15 00:51] LasseRafn commented on #8
As in non-https, or what do you mean? 😄

[2017-10-15 00:58] LasseRafn commented on #7
I don't understand the "problem", what are we trying to do? If it's related to using it with gravatar, all you have to do is use this syntax:

[code]

as the Gravatar fallback, like so:

`https://www.gravatar.com/avatar/cd6dfa715835748e631bc00a4040d987?s=64&d=https%3A%2F%2Fui-avatars.com%2Fapi%2FLasse%2BRafn/128/19443a/fff`

![](https://www.gravatar.com/avatar/cd6dfa715835748e631bc00a4040d987?s=64

[2017-10-15 01:02] LasseRafn commented on #6
Wouldnt this work by replacing the variables locally instead? Like:

[code]

I just feel that this may be a little out of scope for the core library, to handle, but I'm not sure 😄

[2017-10-15 01:04] LasseRafn commented on #5
Super cool! 😄 I will add a link to this on a Projects page on the main site soon

[2017-10-15 01:08] LasseRafn opened #10 "[Content] Projects page (Users of, and built with)"
Add two new sections:

## Built with

Should contain links and descriptions to projects that make use of the api

- https://github.com/3D-I/pia

## Cases

Should contain links and screenshots from users of the projects. I will probably have to ask around or add some submit button. Maybe just accept pull requests?

So far, using Google Images and Search Console has led me to find a few already.

Al

[2017-10-15 03:55] 3D-I commented on #6
Yup, that's fine. :) I will re-think about the purpose though.

[2017-10-15 03:58] 3D-I commented on #7
No, I do have a my own code for phpBB gravatars.

phpBB's avatars engine is way complex and works just around the filename.
If I have the filename served phpBB spreads the Initial Avatars board-wide, else I am limited just at view-topic and a few of locations, that's pitty you know.

[2017-10-15 04:00] 3D-I commented on #8
No, I mean responses like http 200 or http 403 or whatever, so to provide a fall back if happens.

[2017-10-15 04:05] 3D-I commented on #9
The main question is:
will the image be rendered at runtime?
Use case: options to change colors or so on on a per user basis, the user want to change background color every day or so on..

[2017-10-15 20:29] LasseRafn commented on #9
It will be rendered if no existing avatar with similar settings (background, initials, ..) is present, so if another background color is passed, it will generate a new one 👍

[2017-10-16 02:33] 3D-I commented on #9
Great! 🥇

[2017-10-16 13:35] LasseRafn commented on #8
Well, theoretically it shouldn't ever return 403, because its a free API without login and such. The only two response headers returned are: 200 and 500. 500 if something happened (failed generating for some reason?) But otherwise nothing is implemented. If you have any suggestions to useful response types/headers I'm open ears 👍

[2017-10-16 13:36] LasseRafn commented on #7
Okay, I think I understand 🤔 How would an example URL look?

Like: `https://ui-avatars.com/AVATAR-FILENAME.png`? 👍

[2017-10-16 14:16] 3D-I commented on #7
g'morning, I am glad I got an enthusiastic like me. 👍
Let me think about this--
 I got an idea on how to manage the issue by phpBB side, so to avoid to bother you :)

[2017-10-17 08:48] HsRealDev opened #11 "Center text?"
Hi,

sorry, my OCD is bugging me again.

Could it be possible to center the text on the image?

Example of an avatar where text is not in aligned to the center:
https://ui-avatars.com/api/?name=II&size=250

ps. Awesome service to help out with project bootstrapping.

[2017-10-17 09:15] HsRealDev commented on #2
Not sure if it's any help, but here is a piece of code what I'm currently using to create/calculate background and font colors based on the hash of name:

[code]

[2017-10-17 17:15] 3D-I commented on #3
In phpBB those are already served out of the box via CDN, great idea.

[2017-10-17 21:05] LasseRafn commented on #11
Thank you!

Sure thing, I will attempt to make centering better! 👍

[2017-10-18 13:52] HsRealDev commented on #11
Hi Lasse,

I did some more debugging. And as one friend of mine once said: "The sitation is strange." :D

Changing the driver of ImageManager to Imagick in InitialAvatar class ...
[code]
... makes text to get then properly aligned in horizontal but the vertical alignment then goes wrong :)

Bugger.

Maybe there be a bug somewhere in Intervention -> Image lib.

[2017-10-18 15:03] HsRealDev commented on #11
And I debugged even a bit more using directly ImageMagick. I did this simple command line script:

[code]

That one also has some problems to place the text correctly "exactly" aligned. But, IMHO, has better general output on different fonts and sizes.

What do you think Lasse? If you feel like this won't fix on UI-avatars, i understand :) In that case, just close this issue.

[2017-10-20 10:37] LasseRafn opened #12 "Handle commas and full stops (,.)"

[2017-10-20 10:37] LasseRafn opened #13 "SVG"

[2017-10-21 18:59] 3D-I commented on #9
I managed succesfully the cache in phpBB, thanks for your great work. It is ok as it is IMO. ;)

[2017-10-21 19:01] 3D-I commented on #10
Just to mention, the first working version "1.0.0-dev" has been released at the repository and over there at phpBB.com, currently under testing and awaiting for feedback.

Here is the relevant topic: https://www.phpbb.com/community/viewtopic.php?f=456&t=2442136

Thanks. 👍

[2017-10-21 19:03] 3D-I commented on #8
Enough to implement a 200's use case with a condition then. Perfect!

[2017-10-21 19:04] 3D-I commented on #7
I succesfully managed the issue by my side, thanks for the outstandig support. 🥇

[2017-10-21 19:07] 3D-I commented on #2
I am really interested in using this kind of approach and maybe also a randomness of sort, may I use/modify the present code giving credits where those are due? Thx.

Could the snippet make the use of more colors related to letters (say 23 or so on)?
Didn't accurately read/tested it..

[2017-10-21 19:22] 3D-I commented on #6
Well, easily managed on the present code so no probs.
Just thinking about an username like: AlexanderTheGreat ..
how would it be the more elegant way to deal with it and have a result like this: ATG ?¿
Is it something the API should take into consideration IYO?

[2017-10-21 19:26] 3D-I commented on #12
I would consider also the AT sign (@). Today i faced an username like

xx,xxxxx@example.com ;)

[2017-10-21 19:31] LasseRafn commented on #2
Thanks you so much for this, @HsRealDev! I will test this and maybe make some adjustments (haven't tested it yet)

[2017-10-22 09:53] HsRealDev commented on #2
@3D-I - yes, of course you can use it and modify as much as you want. I'm using that to call Lasse's awesome api in my proof of concept projects and I calculate the color always based on the user's ID (in my case MongoId). This way the the avatar's will look like "random" but still be always the same for the user throughout the app.

[2017-10-22 09:55] HsRealDev commented on #2
@LasseRafn You are welcome! Good to hear I could be some help back since your API saved me some hours :-)

[2017-11-03 02:05] 3D-I commented on #6
Hi, any news on this? Are you still working on the API mate?

[2017-11-04 20:46] 3D-I commented on #2
Another interesting function related and very similar. That's JS though.

https://github.com/tcat-tamu/sda.site.web/blob/342fde2e3d840e317b9e0931594c36e165a7c3ba/apps/site/src/app/vwise/components/panel/panel.directive.js#L177

[2017-11-13 22:46] 3D-I opened #14 "RTL language support"
Hi mate,
a question arises there, is the API correctly handling RTL languages?
For reference I found this discussion:
https://stackoverflow.com/questions/7780339/error-while-writting-arabic-to-image

Many thanks.

[2017-11-24 10:18] DominikPalo commented on #11
Very useful service, but unfortunately we can't use it yet, because some letters are very uncentered, see: https://ui-avatars.com/api/?rounded=true&background=70be4e&color=ffffff&font-size=0.6&length=1&size=16&name=Dominik

[2017-12-06 08:51] LasseRafn commented on #14
Hi man! Been very busy, but found some tools to better manage my work + open source (ui-avatars for example) so going to get the issues down to zero 👍

I don't *think* it does, but it absolutely should, so I'm going to find a solution.

However actually I think some of the fonts could support it. I think it's mostly down to font-family, because the API supports UTF-8.

Will look at it

[2017-12-06 23:12] 3D-I commented on #14
Great, thanks a lot.

Maybe you want to read the discussion topic related, there at phpBB DOT com, here's the link FYI.
https://www.phpbb.com/community/viewtopic.php?p=14864406#p14864406
I replied at those times posting my thoughts about this issue.

The user who asked for he's a coder as well BTW.

Best regard. 👍 🥇

[2018-02-28 15:49] wzup opened #15 "font-weight in options"
Add option to specify bold font `&font-weight=bold`. Like in CSS
[code]

[2018-03-12 04:48] 3D-I commented on #14
Any news mate? 🤓

[2018-03-21 21:56] winzig opened #17 "Any workaround for Gravatar fallback problem?"
I'm using a URL [like this](https://www.gravatar.com/avatar/00000000000000000000000000000000?s=200&d=https%3A%2F%2Fui-avatars.com%2Fapi%2FJohn+Smith%2F200):

`https://www.gravatar.com/avatar/00000000000000000000000000000000?s=200&d=https%3A%2F%2Fui-avatars.com%2Fapi%2FJohn+Smith%2F200`

I've also tried %20 between the first and last name, but no matter what, Gravatar seems to strip out the spacing

[2018-04-04 15:16] feliperomero3 opened #18 "Please add support for 512px size"

[2018-04-06 11:41] amineparis opened #19 "api not working and we use it in production"
our clients call to inform us why they have empty avatars

Please update your ssl certificate

[2018-04-06 11:48] LasseRafn commented on #19
Hi, can you confirm that it works now? I apologize for the trouble!

Working on a permanent solution with better load balancing, as right now it’s just separate servers that are selected based on latency. Will setup an actual load balancer soon.

[2018-04-06 11:49] LasseRafn commented on #19
Will continue on mail, so closing this here

[2018-04-06 11:49] #19 closed

[2018-04-06 12:16] amineparis commented on #19
TY VERY VERY MUCH

[2018-04-08 20:52] LasseRafn commented on #18
Hi, will do this very soon 👍

[2018-04-08 20:53] LasseRafn commented on #17
Hi, okay so the way I go about this is using url encoding.

So basically I url encode the name as well as the actual UI Avatars url. It's a little odd to do, but it works every time in my case.

An example in php:

[code]

[2018-04-08 20:54] LasseRafn commented on #17
Hope this helps 👍  Will close, but feel free to comment again, just doing it to clear up the remaining work

[2018-04-08 20:54] #17 closed

[2018-04-08 20:54] LasseRafn commented on #15
Absolutely! Will find a good solution 👍 I also need this right now

[2018-04-08 20:55] #8 closed

[2018-04-08 20:56] LasseRafn commented on #11
Sorry for the crazy slow response, been super busy. Anyway, I think this makes sense 👍  Will try to experiment and compare the two, maybe add an option to use one, but default to the most correct one

[2018-04-08 20:57] LasseRafn commented on #14
Hi man, yup I'm coming up with a lot of nice stuff 👍 Will implement very soon! Thanks for all the great suggestions

[2018-05-29 08:55] LasseRafn commented on #18
Wow.. took longer than I expected. Sorry. Added **NOW**

[2018-05-29 08:55] #18 closed

[2018-09-19 21:16] 3D-I commented on #15
Any news here mate?

[2018-09-26 04:36] ratheesh-kr opened #22 "https not working"
https://ui-avatars.com/

Shows SSL issue, pls have a look

[2018-09-26 05:12] 3D-I commented on #22
Could be that will auto-renews itself in a short while if Let's Encrypt.

[2018-10-25 20:50] DonaldBough opened #23 "CORS Issue from Javascript"
For whatever reason, when calling the code below from my localhost I cannot for the life of me get anything back other than a CORS response error. Is there something wrong on my side?

Thanks

[code]

[2019-01-01 13:39] jacobSingh commented on #7
Yes! I need the same feature.  Would love to see this implemented (or maybe help?)

[2019-02-25 00:42] 3D-I commented on #15
Bump

[2019-02-26 18:59] LasseRafn commented on #15
`?bold=true` added 👍

[2019-02-26 18:59] #15 closed

[2019-02-26 21:20] 3D-I commented on #15
Cheers :) :1st_place_medal:

[2019-03-16 17:52] #23 closed

[2019-04-22 21:04] TotalTechGeek opened #27 "Rounded Image Issue"
Hi, love the project! We use UI Avatars in our software but we recently discovered that the rounded images are not quite generating properly from the ui-avatars website.

It currently seems to give the images a slight outer bend, but they're not complete circles.

It may not be an issue with the code in this project but some dependency issue with the deployment of the main website, but I wanted to

[2019-04-22 21:23] LasseRafn commented on #27
Hi,

I’m glad to hear you like this! Deeply apologizing for this. I’ve been implementing SVG support and non-rectangular avatars, and apparently that screwed this. I deployed a fix right now!

Thanks for bringing it to my attention :)

[2019-04-22 21:24] LasseRafn commented on #27
Haha, but it actually could look kind of cool, with a slight rounding. Anyway, its fixed! Closing and sorry

[2019-04-22 21:24] #27 closed

[2019-04-23 09:27] SokpannhaMak commented on #27
I still have this problem right now.
https://ui-avatars.com/api/?rounded=true&size=36&font-size=0.4&length=3&color=fff&background=a97abc&name=233

![download](https://user-images.githubusercontent.com/43061633/56570220-b9765680-65e4-11e9-8022-ef385359adca.png)

[2019-04-23 11:56] LasseRafn commented on #27
Hi,

I purged the cache! Sorry

[2019-04-24 02:24] SokpannhaMak commented on #27
The problem has been fixed. Thank you

[2019-04-24 12:25] etiennecaldo opened #28 "Background color"
Hi,
Thank your for your project we are using everyday in production!

Something we have noticed recently:
Before, when not defined, it seemed like background color was assigned randomly depending on user name. Since few days we have noticed that now everyone have the same background color :
https://ui-avatars.com/api/?name=John+Doe
https://ui-avatars.com/api/?name=Michel+Doe

Was it a deliberate c

[2019-04-30 15:17] Betree opened #29 "Support on Open Collective"
Hello,

We've started using UI Avatars for https://opencollective.com and I'd like to support the project with a monthly donation.

I saw that you have a page on BuyMeACoffee, but as Open Collective gives its engineering team gift cards so we can support the projects we use on the platform it would be way more convenient for us to donate on there directly.

I've created [a pledge](https://opencoll

[2019-04-30 19:58] LasseRafn commented on #29
Thank you so much for this! And I'm super excited to see Open Collective using this as well 👍

Absolutely moving away from BuyMeAcoffe and over to you right away, super idea! And again, thank you for this 🙏 any support in expanding the project is greatly appreciated!

[2019-04-30 22:46] #22 closed

[2019-05-02 14:05] Betree commented on #29
@LasseRafn Awesome! I just completed the pledge :rocket:

Usually collectives like to display contributors in their README, along with a donate button. That's a great way to incentive people to donate - you can check [styled-components](https://github.com/styled-components/styled-components#backers) for an example.

If you ever want to chat or have questions about Open Collective we're also on [Sl

[2019-05-02 14:05] #29 closed

[2019-05-07 15:59] topbloc-beiswenger opened #31 "Not Receiving Access-Control-Allow-Origin Header"
After making the following request in local environment, I receive an error that there is no Access-Control-Allow-Origin header on the response. It's also not present in the response headers in Chrome's Developer Tools.

[code]

[2019-05-08 06:26] bozhkos commented on #31
I will take a look at that.

[2019-05-08 11:20] LasseRafn commented on #31
Thanks! 🙏  I have a feeling it may be related to the recent switch to Cloudflare? But they say they do support Access-Control-Allow-Origin headers

[2019-05-09 06:54] bozhkos commented on #31
@LasseRafn,100% sure it related to Cloudflare. Double checked everything on local setup, headers are returned correctly.

[2019-05-21 09:17] ChiefWiggum opened #33 "Feature: Support Alpha channel in colours"
Hi there,

it would be great to have the option to pass in a _background_ or a _text colour_ that supports alpha channels with the [RGBA format](https://caniuse.com/#feat=css-rrggbbaa) `#RRGGBBAA` or `#RGBA`, e.g.

https://ui-avatars.com/api/?background=a0a0a00f

The nice thing about beeing able to set an alpha channel, is that it can also be set to a semi transparent level, not just fully transpa

[2019-05-21 09:43] ChiefWiggum commented on #33
I've realised, that you're using [Intervention/image](http://image.intervention.io/) and that they currently don't support an alpha channel via [hex](http://image.intervention.io/getting_started/formats) and therefore opened an [issue ](https://github.com/Intervention/image/issues/943) there as well.

[2019-05-21 16:06] stof opened #34 "Privacy info are not in sync between the github repo and the prod website"
https://github.com/LasseRafn/ui-avatars/blob/master/index.html does not have the same content for the `Privacy and Monitoring` section than https://ui-avatars.com/

[2019-06-21 12:39] divyanshjain217 commented on #31
I'm also facing this issue, **access-control-allow-origin** header is not returned as response

[2019-06-21 12:43] vishalgwalani commented on #31
Stuck on the same issue, please **add access-control-allow-origin** header
![Screen Shot 2019-06-21 at 6 12 28 PM](https://user-images.githubusercontent.com/20693199/59923134-40fb0d00-9450-11e9-8dca-9f5f3963665e.png)

[2019-06-21 13:19] LasseRafn commented on #31
Problem is that we're already passing this, but Cloudflare is stripping it for some reason

[2019-06-21 13:20] LasseRafn commented on #31
The following is passed:

[code]

[2019-06-21 13:27] LasseRafn commented on #31
I've found the solution. Apparently allowing Nginx to serve the cached file using `X-Accel-Redirect` will remove a lot of headers. Fix is live.

[2019-06-21 13:27] #31 closed

[2019-06-21 14:29] #13 closed

[2019-06-21 14:30] #9 closed

[2019-06-22 06:14] vishalgwalani commented on #31
thanks @LasseRafn

[2019-06-22 06:16] divyanshjain217 commented on #31
Thanks @LasseRafn

[2019-06-24 14:56] mphalliday opened #35 "Safari seems to be rendering SVGs all of a sudden"
Just starting noticing that when an avatar is displayed in Safari it renders as an SVG and doesn't respect the colour, or length options.

With the following code:

`<img src="https://ui-avatars.com/api/?name=TestUser&size=40&length=1&background=bb65ca&color=fffff" />`

We are seeing this rendered in Safari:

<img width="458" alt="Screen Shot 2019-06-24 at 10 50 59 AM" src="https://user-images.git

[2019-06-29 21:37] LasseRafn commented on #35
Hi! I apologize for this! I recently shipped SVG support, however missed the color option... I'm thinking maybe the length issue is cache-related. Can you try and flush you cache?

[2019-06-29 21:38] LasseRafn commented on #35
I've fixed the color thing, however length I cannot reproduce

[2019-06-29 21:42] LasseRafn commented on #35
Nevermind. I found the issue! Has been pushed live. Browser cache might prevent this from showing immediately

[2019-06-29 21:42] #35 closed

[2019-07-04 20:39] mphalliday commented on #35
Awesome, thanks for the quick response! Working great now!

[2019-07-13 03:33] 3D-I commented on #2
Any news on this, I am rewriting my phpBB extension from scratch and I will be more than happy to have this function working.

[2019-07-13 03:37] 3D-I commented on #14
Howdy m8, any news?

[2019-08-21 17:05] Heath123 opened #36 "Add PNG support please"
JPEG compression is not designed for text. Please add PNG support so I don't have to make the resolution higher to compensate.

Here's a video to explain why:
https://youtu.be/yBX8GFqt6GA

[2019-08-22 07:01] bozhkos commented on #36
why don't you code that, and open PR, so you will get what you want?

[2019-08-22 15:22] Heath123 commented on #36
The code would probably be messy or wrong somehow

[2019-08-22 15:24] Heath123 commented on #36
Actually it does support PNGs

[2019-08-22 15:24] #36 closed

[2019-09-29 04:45] TomW1605 commented on #11
Hi this is a really useful service however this off centre issue is starting to bug me too. Is there any update on fixing this?

[2019-09-29 07:33] LasseRafn commented on #11
I’m open to suggestions but I can’t think of any solutions sadly 👎🏻

[2019-10-21 18:51] amrsalama opened #37 "Issue with MS Edge"
There is a weird behaviour in MS Edge, The image shifted to the top, any ideas ? Thanks!

![Screenshot from 2019-10-21 20-49-18](https://user-images.githubusercontent.com/15939360/67233888-5a36b900-f444-11e9-9cd0-89e2c23a4729.png)

[2019-10-30 22:47] hotgeart commented on #37
No problem on my side.

![](https://i.imgur.com/YV8HBwf.png)

[2019-11-07 12:23] eSilverStrike commented on #37
I am getting this issue as well. It works fine in Edge if you load it directly as @hotgeart did but if you include it in a web page with HTML the letters are not centred as the image shows. The same page does work fine on Firefox and Chrome.

I confirm that this bit of HTML will produce the error:

`<div style="padding-top:3px;"><img width="115" height="115" title="Test" class="userphoto" alt="" s

[2019-11-20 06:28] cwmrowe commented on #37
We are also getting this issue, I think it is to do with the type of image you get back which is dependent upon the accept request header sent by the browser. When called from an `<img>` tag in Edge then the header is
[code]
Which results in the image type in the response being an SVG.

[2019-11-20 06:48] cwmrowe commented on #37
On further investigation I'm not sure if it is the Accept header that is the problem, I tried it in Postman and got the correctly rendered image, but I am sure it is one of the request headers that's causing this issue.

[2019-12-10 22:46] eSilverStrike commented on #37
I don't like the idea that a developer has not responded yet to this issue. I hope this project is not dead as we just incorporated it into our code.

@LasseRafn are there plans to continue to work on this project? I understand if you don't have time at the moment to work on a fix but it would make us feel better if their was some sort of response.

Thanks

[2019-12-11 00:25] LasseRafn commented on #37
I’m open for ideas and PRs

I haven’t really ever worked with EDGE and SVGs so I am unsure what a solution might be

We could add an option to force PNG, for when Edge support is a must? Or if someone knows how to fix it, that’s even better 👍🏻

[2019-12-11 06:58] hotgeart commented on #37
I think we should wait. The 15 janv the new Edge based on chromium will be out. So the bug will disappear on its own. No?

source: https://blogs.windows.com/msedgedev/2019/11/04/edge-chromium-release-candidate-get-ready/#ck6RfDbJ1POYcebm.97

[2019-12-11 12:20] eSilverStrike commented on #37
Is anyone running the Beta version of Edge to see if it is actually fixed? It still may not be if Chromium hands off rendering images or something...

If the new Edge fixes the issue it will still be a while before everyone is using it.

It's weird how it works fine in Edge if you access the image directly... cwmrowe seems to be onto something.

[2019-12-11 16:30] hotgeart commented on #37
@eSilverStrike https://i.imgur.com/8RVSyyK.png It looks fine to me

[2019-12-17 16:05] stof commented on #37
IE 11 also have this bug. And unfortunately, in enterprise environments, IE 11 is not near disappearing yet.

[2019-12-17 16:09] stof commented on #34
@LasseRafn any answer on that ?

[2019-12-20 23:26] LasseRafn commented on #37
I tried installing Edge on Mac, to see how it looks (using the example from @hotgeart, http://jsfiddle.net/y9sor1xc) but could only find a beta which renders correctly, I guess it uses Chromium. I haven't been able to test it myself.

Anyone against simply having Edge return a PNG? as in:

User-agent is Edge/IE = return png no matter accept headers.

Unless of course someone has a proper solution?

[2019-12-20 23:27] LasseRafn commented on #34
Ouch! Thank you! — I'll have this deployed

[2019-12-20 23:28] #34 closed

[2019-12-21 15:36] eSilverStrike commented on #37
What are the disadvantages of returning a png? If it is just the size of the file then I don't have a problem as I rather have it look correct.

[2019-12-21 16:29] LasseRafn commented on #37
Nothing except not using SVGs 👍 I can switch it to PNG-only by checking user-agent?

[2019-12-21 17:30] eSilverStrike commented on #37
Another negative I guess would mean that you may have to store not only svg but png files as well on your web server.

Internet explorer and Edge both suffer from this issue so you want to detect all Internet Explorer browsers and Edge up to whatever version just before they start to use Chromium. User Agent is the only way I know of.

[2019-12-21 18:46] cwmrowe commented on #37
Anything that makes it render right is great. Doesn't really matter if it's SVG or PNG. Thanks and Merry Christmas!

[2020-01-03 09:11] Somebi opened #39 "SameSite attribute issue"
Hello, we have a warning in our console, that soon google chrome will break your library. Could you please fix that? Warning is below, please take a look:

A cookie associated with a cross-site resource at <URL> was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review co

[2020-01-03 09:19] bozhkos commented on #39
First thing first, that cookie is from Cloudflare, not from the app. Nothing will break. That notice means that the cookie itself won't be delivered.

[2020-01-09 11:56] aliaanis commented on #11
Any solution yet ?

[2020-02-17 08:21] nullifiedtsk commented on #37
anyway, it looks like a bug in online api service webserver config / api since it duplicates almost all headers content
![image](https://user-images.githubusercontent.com/3623027/74635597-6410c480-5177-11ea-8af8-15196516010d.png)

[2020-03-05 15:30] stof opened #40 "The lasserafn/php-initial-avatar-generator library is outdated"
The composer.json requires `^3.0` of `lasserafn/php-initial-avatar-generator`, but the current version of the library is 4.1.

[2020-03-05 15:38] stof commented on #37
@LasseRafn is the source code in this repo actually used ? From what I can tell, the source code here will never produce a SVG at all.

[2020-03-05 15:49] LasseRafn commented on #39
Is this an issue? Not sure?

I added `'Access-Control-Allow-Origin` headers but not sure if this is relevant at all.

[2020-03-05 15:51] LasseRafn commented on #37
@stof Thanks for pointing this out! Some changes were never synced 👎  I'll bring it up to date.

@nullifiedtsk This should hopefully be fixed now — however I will look into it

I'm pushing a fix soon which should make it render PNG for IE/Edge always. I don't particularly like this (as new Edge works fine) but lets do this for now and see if we can remove it in the future.

Apologies for the slow

[2020-03-05 15:51] LasseRafn commented on #33
Very good idea! I will look into a solution — definitively something I'd want it to support

[2020-03-05 15:53] LasseRafn commented on #11
@aliaanis I've been unable to find a solution 👎  I will try @HsRealDev's solution as I think he is definitively onto something (good work, thanks!)

[2020-03-05 15:55] LasseRafn commented on #40
Thanks for pointing it out! completely forgot to update this

I'm getting back into maintaining the library so hopefully won't be an issue again!

Updated it now!

[2020-03-05 15:55] #40 closed

[2020-03-05 16:00] stof commented on #37
Actually, Chrome and Firefox are actually getting PNG, not SVG (and maybe new Edge too, but untested).

Here are the Accept header for `<img>` tags:

Chrome: `image/webp,image/apng,image/*,*/*;q=0.8`
Firefox: `image/webp,*/*`
IE 11: `image/png,image/svg+xml,image/*;q=0.8,*/*;q=0.5`
Edge 18: same than IE 11

[2020-03-05 16:04] stof commented on #37
So to me, this says that only browsers in which we have an issue are receiving the SVG avatar, so it might be broken.

Btw, IE 11 on Windows 7 has an additional issue. due to the `height` attribute on the `<svg>` tag, it overwrites the `height: auto` of the `<img>` in CSS

[2020-03-05 17:05] stof opened #42 "SVG support is duplicated with the lib"
The lasserafn/php-initial-avatar-generator has support for generating SVG avatars, but the SVG generation in this repo is a different one.

[2020-03-05 17:16] stof commented on #37
I added a parameter to force the format in #41

[2020-03-06 09:06] LasseRafn commented on #37
@stof I'll look into the height — wondering how we will fix that though.. I dont have access to Windows 7 at the moment 👎🏻

Indeed weird! Safari passes a SVG to accept but maybe other browsers dont. Is this for newest versions?

[2020-03-06 10:03] stof commented on #37
This is for Firefox 73.0.1 (current stable channel) and Chromium 80 (current stable)

[2020-05-26 04:30] udaysinghcode opened #44 "Multiple parameters causing API to generate no image and break in production"
Hi everyone, I'm finding some errors with this API in production, particularly when I add a size parameter to the following URL:

This runs fine before I add the sizing:

https://ui-avatars.com/api/?name=Bob+Alice&background=0D8ABC&color=fff&rounded=true

This breaks when I add sizing:
https://ui-avatars.com/api/?name=Bob+Alice&background=0D8ABC&color=fff&rounded=true&size=256

This used to work b

[2020-05-26 06:23] karlerss commented on #44
Having same issues. Storage/cache issue?

[2020-05-26 06:35] udaysinghcode commented on #44
Yeah, all my old ones seem to be running alright. Anything that had been built before is returning, it's new images that are breaking. I pulled the repo, but can't seem to find anything. My suspicion is that it's a cache issue, but will wait for @LasseRafn to chime in!

[2020-05-26 07:08] Valkyrurr commented on #44
Happening to me as well. Noticed that it only breaks when **color** and/or **background** is added.

Works:
https://ui-avatars.com/api/?name=John+Doe&rounded=true&bold=true

Breaks:
https://ui-avatars.com/api/?name=John+Doe&rounded=true&bold=true&color=0D8ABC
https://ui-avatars.com/api/?name=John+Doe&rounded=true&bold=true&background=0D8ABC

[2020-05-26 07:11] udaysinghcode commented on #44
@Valkyrurr - that's super interesting, because check this out:
https://ui-avatars.com/api/?name=John+Doe&background=0D8ABC&color=fff&rounded=true

If I move your rounded to the end, it's suddenly passing.

[2020-05-26 07:32] Valkyrurr commented on #44
Woah. I'm not even using the `rounded` parameter in my current implementation. Some hex values just do not work though... `e2430a` for example. I'm pretty sure these values worked before, for atleast months on using this API.

[2020-05-26 07:50] udaysinghcode commented on #44
Likewise, I'm feeling like @karlerss is probably on the money here, but hard to debug without being able to look at the logs. I'm sure @LasseRafn will know what's up (and thank you, of course for hosting this incredibly useful API).

[2020-05-26 11:00] LasseRafn commented on #44
Thats super strange! let me dig into it — thanks for doing all the debugging

[2020-05-26 11:03] alexby opened #45 "Issues on the ui-avatars.com server"
[code]

[2020-05-26 11:10] LasseRafn commented on #45
Yes! thanks, this is also the issue for #44

[2020-05-26 11:15] LasseRafn commented on #44
Okay so as Issue #45 points out, its simply related to server storage. Every image is cached for a period of time — however as of now (5 minutes ago) we had 214.007.808 images stored (causing the storage to be full 😅

I'll be implementing a better cleanup job and in the meantime simply clean images more frequently!

Sorry

[2020-05-26 11:15] #44 closed

[2020-05-26 11:15] #45 closed

[2020-05-26 11:16] vishnutk commented on #44
https://ui-avatars.com/api/Michele%20Vodaro/400/333941/FFFFFF stopped suddently for me and giving `The image <> can not be displayed because it contain errors` message. Image seems to be started loading again. Any inputs?

[2020-05-26 11:22] Valkyrurr commented on #44
Seems like that fixes it. Thank you, @LasseRafn !

[2020-05-26 11:27] LasseRafn commented on #44
Follow-up: I setup alerts for disk-space (and other key metrics) so this will be caught before it happens (if it does) in the future

![Screenshot 2020-05-26 12 26 31](https://user-images.githubusercontent.com/2689341/82895454-25e02980-9f4c-11ea-8166-715fb6220b5d.png)

Next up is:
- cleaning job fixes
- error monitoring
- get git repo in sync with live

[2020-05-26 14:42] udaysinghcode commented on #44
Thanks a ton! Looks great!

[2020-06-30 22:50] curtiscook commented on #11
FWIW, it looks like svg might have the correct proportions & the font isn't loading the same way when converting to png
SVG
![image](https://user-images.githubusercontent.com/7005517/86184592-5dad3480-bae9-11ea-869e-af8b444e9c82.png)
PNG
![image](https://user-images.githubusercontent.com/7005517/86184602-6140bb80-bae9-11ea-946d-4ac40ef3ddc0.png)

[2020-06-30 22:51] curtiscook commented on #11
fwiw: it looks like svg might be rendering correctly and failing during png conversion?
svg (https://ui-avatars.com/api/?name=B&size=250&format=svg)
![image](https://user-images.githubusercontent.com/7005517/86184702-8df4d300-bae9-11ea-93e3-10aa329fe36f.png)

png (https://ui-avatars.com/api/?name=B&size=250&format=png)
![image](https://user-images.githubusercontent.com/7005517/86184690-88978880-ba

[2020-08-25 22:11] huntergregal opened #46 "XSS via SVG"
PoC: [https://ui-avatars.com/api/?name=&background=CCCCCC&color=">X</text><script>alert("xss");</script><x+x="></x>&size=152&format=svg](https://ui-avatars.com/api/?name=&background=CCCCCC&color=">X</text><script>alert("xss");</script><x+x="></x>&size=152&format=svg)

[2020-09-07 13:08] jcrooke commented on #37
To be clear to anyone who is getting this issue in IE11/Edge, the fix is to add **&format=png** on the request so that IE11/Edge gets a PNG in response.   I've actually noticed that it'll randomly get back a PNG or an SVG if you do not specify **&format=png**.

[2020-10-01 17:39] winzig opened #47 "ui-avatars.com is down; domain appears to have expired"
**Registrar Registration Expiration Date: 2020-10-01T14:12:41.00Z**

<img width="882" alt="screenshot 2020-10-01 at 10 39 14@2x" src="https://user-images.githubusercontent.com/127062/94843979-5fc9ac80-03d2-11eb-8ac0-62f9be99be5a.png">

[code]

[2020-10-01 18:29] LasseRafn commented on #47
Wow. Considering auto-renew is on, that's deeply messed up.

I contacted Namecheap and manually renewed. My apologies. When I'm home I will renew it for the next 5 years or so

My apologies

[2020-10-02 01:16] MelonHTML5 opened #48 "service is down?"
Error:
https://i0.wp.com/ui-avatars.com/api/ivelinasheetl/48/9B5DE5/FFFFFF/2/0.5/false/true/false/png?ssl=1

Error:
https://i0.wp.com/ui-avatars.com/api/JennaFairlo/64/A5A58D/FFFFFF/1/0.5/false/true/false/png?ssl=1

Good:
https://i0.wp.com/ui-avatars.com/api/JennaFairlo/64/A5A58D/FFFFFF/2/0.5/false/true/false/png?ssl=1

[2020-10-02 15:48] alexby commented on #47
@LasseRafn the https://ui-avatars.com is still down, but https://eu.ui-avatars.com/ works. Are you sure you have correct DNS settings?

[2020-10-02 15:51] LasseRafn commented on #47
Maybe some DNS caching? For me it works

Let me double check everything

 ![image](https://user-images.githubusercontent.com/2689341/94943386-88839c00-04cf-11eb-952e-ffbdc1eaa625.jpeg)

[2020-10-02 15:53] alexby commented on #47
Yeah, could be. I thought it have to be faster with Cloudflare, but for some reason no.
It's ok now, thanks.

[2020-10-02 17:51] winzig commented on #47
Yeah it began working for us again a few minutes after @LasseRafn indicated he renewed. 😅

[2020-10-02 17:51] #47 closed

[2020-10-09 12:47] LasseRafn commented on #28
Sadly not depending on name, but randomized. `?background=random`

[2020-10-09 13:29] #28 closed

[2020-10-14 15:40] sharadrsoni opened #49 "Rounded parameter not working in Firefox"

[2020-10-15 10:37] jaragones commented on #44
Hey @LasseRafn ! Can it be that issue generating new images is back?

This url works:
https://eu.ui-avatars.com/api/?name=JA&rounded=true&background=ffffff&color=1590E3&bold=true&font-size=0.65

But this ones doesn't:
https://eu.ui-avatars.com/api/?name=LA&rounded=true&background=ffffff&color=1590E3&bold=true&font-size=0.65

[2020-10-15 10:52] thewebartisan7 opened #50 "Issue with this URL"
Any other combination of words work fine but not this "7W" and this color combination and size:

[code]

For example AB works fine:

[code]

Or also another color:

[code]

This color combination/size it's used by Jetstream

[2020-10-15 11:15] nivpenso opened #51 "some background values stopped working"
Hi,

We are using the ui-avatar service for a long time now and since today's morning, we are seeing that when we are making a GET request with specific values we don't get a response

You can check it here:
https://ui-avatars.com/api/?name=First%20Last&rounded=true&background=3f5310&color=fff

When changing the background color to: 2C3E50
it seems that everything is working fine.
https://ui-avata

[2020-10-15 11:16] nivpenso commented on #50
I'm facing the same issue here:
https://ui-avatars.com/api/?name=First%20Last&rounded=true&background=3f5310&color=fff

[2020-10-15 12:57] bengerson commented on #50
Same issue for us with https://ui-avatars.com/api/?name=MO&color=ffffff&bold=true&background=FBAC9E&size=60 for example.

[2020-10-15 13:00] dziemian007 commented on #50
Just figured out if you UPPERCASE whole color code, it works again :tada:

[2020-10-15 13:22] thewebartisan7 commented on #50
@dziemian007 good catch!

[2020-10-15 13:24] thewebartisan7 commented on #50
For fix issue of @nivpenso is required also full color hexadecimal, example `ffffff` and not `fff`

[2020-10-15 13:25] thewebartisan7 commented on #50
This works : https://ui-avatars.com/api/?name=MO&color=ffffff&bold=true&background=FBAC9E&size=60

When lowercase background color, but sometime uppercase works fine...

[2020-10-15 16:52] stof commented on #51
I faced the same. It looks like the issue is related to lowercase vs uppercase letters for the hex code: uppercase works for background while lowercase seems to break.

[2020-10-15 17:03] stof commented on #51
Maybe it is a matter of having some URLs corrupted in the cache though, and the uppercasing is just luck.

[2020-10-15 17:32] LasseRafn commented on #51
Very odd! I am investigating.

[2020-10-15 18:01] LasseRafn commented on #51
Cloudflare cache caused a image to be cached at a point where things were down.. Not sure why a error code is cached 🤔  but anyway, I will look into a solution that does not require manual checkup. For now purged the cache. I'm sorry!

[2020-10-15 18:01] #51 closed

[2020-10-15 18:05] LasseRafn commented on #51
Browser cache might cause it to render the same .... but it IS up. Looking into a way to invalidate browser cache somehow (??)

![CleanShot 2020-10-15 at 19 04 42](https://user-images.githubusercontent.com/2689341/96168894-533c6c80-0f19-11eb-836d-cb4e9da1fe08.png)

[2020-10-15 18:06] LasseRafn commented on #48
There was some issues, my apologies! it is up

[2020-10-15 18:06] #48 closed

[2020-10-15 18:13] LasseRafn commented on #50
Yup definitively cache related. I suspect it is related to an issue earlier with storage. I have given the servers an upgrade and old files should be cleared correctly again. My apologies!

[2020-10-15 18:13] #50 closed

[2020-12-14 17:29] b4r3k opened #53 "License information is missing"
Would be great to specify license type and add a LICENSE file to the repository.
Thanks in advance.

[2020-12-14 17:46] #53 closed

[2020-12-14 17:47] LasseRafn commented on #53
Good catch! 😄  will this work? https://github.com/LasseRafn/ui-avatars/blob/master/LICENSE

[2020-12-14 18:12] b4r3k commented on #53
Excellent ;)

[2020-12-21 16:39] WeeJeWel opened #55 "Add support for gradient backgrounds"
I propose to add `&gradient=1` to make a background gradient, based on the `background` property, where the bottom will be a little darker, and the top a little brighter.

For example:

<img width="163" alt="Screenshot 2020-12-21 at 17 38 57" src="https://user-images.githubusercontent.com/319873/102799902-69e8bf00-43b3-11eb-838e-a0c813e4ba2b.png">

[2020-12-21 16:39] WeeJeWel commented on #55
I'd gladly become a sponsor to support the development of this feature by the way!

[2020-12-28 17:17] bespired opened #56 "No usage tracking"
"No usage tracking"

But there are 4 cookies stored without user consent.
Is this illegal according to european GDPR law?

[2020-12-28 17:54] LasseRafn commented on #56
Ah I see, no this relates to the API. Meaning the data being sent to the API (names, emails, etc.) since the website isn't the 'product'.

In relation to GDPR, no. That's a personal data law, mostly irrelevant to cookies. It's the cookie law that requires banners.

I do see analytics on the site which I haven't checked since launch, so I'll add it to my todo to have it removed 😄 thanks for notifyi

[2020-12-29 11:03] LasseRafn commented on #56
![CleanShot 2020-12-29 at 12 02 48@2x](https://user-images.githubusercontent.com/2689341/103279325-cd837580-49cd-11eb-8fd7-3bae233967ef.png)
Some of the cookies are Adsense related, so instead I installed a cookie banner with option to reject cookies 👍 Still testing to see how that actually works but presumably it works as the service describes

[2020-12-29 11:03] #56 closed

[2021-01-11 20:27] #55 closed

[2021-01-11 20:27] WeeJeWel commented on #55
Already solved this using our own implementation :)

[2021-01-20 04:24] disono opened #58 "First load error"
Before everything works perfectly then suddenly this error occurred.
When I tried to load the image for the first time this error show's up
Then tried to refresh the page the image is now showing.
Image: https://ui-avatars.com/api/?name=Favorite%20Group&size=128

"This page contains the following errors:
error on line 2 at column 1: Extra content at the end of the document
Below is a rendering of

[2021-01-20 11:27] LasseRafn commented on #58
Thanks! I narrowed it down to being an issue with background, I'll have a fix deployed very soon

[code]

[2021-01-20 11:31] #58 closed

[2021-01-21 14:55] shahidcodes opened #59 "Custom font name when requesting .svg"
It would be nice to set a custom font family name when requesting .svg. I have a custom font loaded in my React Native app, so if I could pass the font family name in the URL itself then the resulting SVG will use the same font as my app.

[2021-02-14 21:37] PAvelNN opened #60 "Fatal error: Uncaught Error: Class 'Utils\Input' not found"
Help plz
Fatal error: Uncaught Error: Class 'Utils\Input' not found in /home/b/site.ru/public_html/api/index.php:19 Stack trace: #0 {main} thrown in /home/b/site.ru/public_html/api/index.php on line 19

[2021-02-14 21:40] LasseRafn commented on #60
Did you include the entire repository, not just `index.php`?

There should be a folder called `Utils`

You will also need to run `composer install` in the project root (`/home/b/site.ru/public_html`) to make sure the autoloader is generated properly 👍

Hope that helps

[2021-02-26 17:29] winzig opened #61 "ui-avatars.com is down again"
<img width="962" alt="screenshot 2021-02-26 at 09 28 51" src="https://user-images.githubusercontent.com/127062/109334042-0cd71280-7815-11eb-880c-ab0148f3c697.png">

cc @LasseRafn

[2021-02-26 17:30] winzig commented on #61
Just started responding again, but leaving this open in case it's an intermittent issue that needs to get fixed.

[2021-02-26 17:30] LasseRafn commented on #61
Can you still replicate? I cannot, my monitoring also says 200 OK

What exact url are you using, I'll give it a check!

Thanks

[2021-02-26 17:31] LasseRafn commented on #61
Ah nevermind it seems to be randomly occurring. I'll check

[2021-02-26 17:32] winzig commented on #61
Yeah it's intermittent. Any URL seems to come and go for me, but the latest one I tried was https://ui-avatars.com/api/BK/256/9ee0fa/343a40.

[2021-02-26 18:06] LasseRafn commented on #61
Seems to have hit a file limit:

[code]

I increased the file limit on the system, Nginx and will continue to monitor just to make sure its not still going on — strange how its been years before that happened. Nothing crazy going on with traffic today either.. 🤔

[2021-02-26 18:06] #61 closed

[2021-02-26 18:06] LasseRafn commented on #61
Thanks for the report! apologies

[2021-03-04 15:01] christos opened #62 "Gravatar strips the spaces in the name from default URL"
It would seem that Gravatar strips any (encoded) spaces from the default URL (`?d=DEFAULT_IMAGE_URL`) breaking the expected image result.

Using the example from the `README`:

[code]

<img width="610" alt="CleanShot 2021-03-04 at 15 57 30@2x" src="https://user-images.githubusercontent.com/736/109983024-bc731f80-7d02-11eb-8cc7-7101821e8f1c.png">

Is there any way to encode first and last names sep

[2021-03-04 15:07] LasseRafn commented on #62
Hi, thanks man!

As far as I remember, it works if you url encode the name (rather than using `+` so the ui-avatars url would actually be:

[code]

And full url:
[code]
And the output is:
![Lasse+Rafn](https://user-images.githubusercontent.com/2689341/109983969-41f2d180-7cfb-11eb-95d5-35557b3612d2.png)

Let me know if this doesn't work 😄

[2021-03-04 15:37] christos commented on #62
Hey @LasseRafn

That did the trick, thanks!

I needed to first CGI escape the name, then URL encode the resulting URL. Here is the Ruby code for anyone who stumbles upon this issue in the future.

[code]

[2021-03-04 15:37] #62 closed

[2021-03-04 19:26] LasseRafn commented on #62
Awesome! Glad you managed to solve it and thanks for sharing solution 🙌🏻

[2021-03-12 22:19] cesarmtz93-wit commented on #7
was this ever implemented?

[2021-05-16 18:51] mtwzim commented on #3
Up!

[2021-08-17 07:47] samvandb opened #63 "receiving duplicate cors headers"
I'm receiving ui-avatars from my users to use as their profile picture.

I'm using xhr to fetch these images, but they are sent with doubled cors headers resulting in the following header
Access to image at 'https://eu.ui-avatars.com/api/?name=Sam%20Vdb&size=120$1629186020453' from origin 'http://localhost:3000' has been blocked by CORS policy: The 'Access-Control-Allow-Origin' header contains mul

[2022-01-13 18:14] stof opened #65 "The deployed website does not match the code on GitHub"
See https://github.com/LasseRafn/ui-avatars/pull/43 for something not deployed (and see the discussion there about other differences)

[2022-01-22 04:50] amitav13 opened #66 "Duplicate response headers returned"
This happens when I pass in the `format=svg` param or the `Accept` header for the same.

![CleanShot 2022-01-21 at 18 32 57](https://user-images.githubusercontent.com/7059002/150531781-496a55fc-ce75-4721-858a-103449f75ada.png)

[2022-03-03 13:23] saad-bearplex opened #67 "ui-avatars.com is down - return Error 502"
![image](https://user-images.githubusercontent.com/70282517/156573240-4dfea38f-5767-4f65-9f40-4514c9227333.png)

[2022-03-04 16:32] jayelkaake opened #68 "Directory URLs not working (incl Gravatar fallbacks)"
Within the last 24h directory-based URL queries to the API have started only returning an empty image.

# Example:
* https://ui-avatars.com/api/sowmya+dupo/100/F2F2F2/C2C2C2/2/0.42/true

# Current
❌ Gives blank image:
<img width="895" alt="true (64×64) 2022-03-04 11-33-09" src="https://user-images.githubusercontent.com/314966/156802314-91e50f17-e081-495c-a4d4-1df19545a551.png">

# Expected
✅  Show

[2022-03-04 17:02] winzig commented on #68
Anyone familiar with a similar library that runs on .NET (or at AWS)? Or am I building my own today :sob:

[2022-03-04 17:10] jayelkaake commented on #68
@winzig I cloned the repo and unfortunately the same issue occurs on our own server...That means it must be something related to the code (maybe a library updated).

I'm going to look into fixing it so if you want. You can use our server temporarily once I do.

[2022-03-04 18:23] LasseRafn commented on #68
Some CloudFlare cache config apparently made the urls redirect in some situations (?) as far as I can understand. Removed these rewrites and it should look better now. Thanks for reporting!🙏🏻

[2022-03-04 18:34] jayelkaake commented on #68
@LasseRafn Thanks for looking into it!

But I think there's something still wrong with your Cloudflare settings. Try this: https://ui-avatars.com/api/sowmya+blah

[2022-03-04 18:36] winzig commented on #68
That URL works for me. My guess is your browser has cached the broken image. Try shift+reload and/or restart your browser.

[2022-03-04 18:49] jayelkaake commented on #68
Ah yeah it looks like it's working now. Maybe some cache.

Thanks again for checking into it!

[2022-03-04 18:49] #68 closed

[2022-03-04 18:49] LasseRafn commented on #68
Ah I think that's the case yes, because I couldn't seem to find the issue, but I wouldn't want to disregard it if there's something going on 😄

[2022-04-15 06:50] athamour1 opened #70 "Dockerfile fails to start"
Dockerfile crashes when it pulls the dependencies, maybe the packets are deprecated, I will try to find what's wrong.
The log that I get is the following
<details>
<summary>error messages</summary>
<pre>
❯ docker build .
Sending build context to Docker daemon  1.071MB
Step 1/11 : FROM kstaken/apache2
 ---> 2dde0ff8b71b
Step 2/11 : LABEL name "my-docker-deployment"
 ---> Using cache
 ---> ff0426b04

[2022-04-29 10:39] tom-sherman opened #71 ""Édward Doe" returns "ED" when it should return "ÉD""
In general the bug is accented letters are not properly handled.

[2022-05-12 01:32] dgomez93 commented on #70
Hi there.

I used the above Dockerfile. When I go for example to http://localhost/api/?background=0D8ABC&color=fff. It doesn't work. But using that URI in an img src field, it does work.

[code]

This Dockerfile should be cleaner. I will do this tomorrow.

[2022-05-12 01:33] nan140114 commented on #70
Hi there.

I used the above Dockerfile. When I go for example to http://localhost/api/?background=0D8ABC&color=fff. It doesn't work. But using that URI in an img src field, it does work.

[code]
This Dockerfile should be cleaner. I will do this tomorrow.

[2022-05-12 16:02] jbarreraballestas opened #72 "Error in avatar - User with especial char "&""
**The especial char generate error in request avatar**

See: [https://ui-avatars.com/api/?name=%26NTELIGENTE+SAS&color=7F9CF5&background=EBF4FF](https://ui-avatars.com/api/?name=%26NTELIGENTE+SAS&color=7F9CF5&background=EBF4FF)
![error](https://user-images.githubusercontent.com/52984437/168118677-ac268939-dd21-4585-92fb-3f562044776e.png)

[2022-05-13 14:11] LasseRafn commented on #72
Interesting! Seems to be SVG related. I’ll play around with it a bit, thanks!

[2022-07-12 08:54] yassinrais opened #73 "feat: Unique (background)color based on text"
😄

[2022-07-26 09:59] Korak-997 commented on #73
Can you please provide more informations ?! what you really want to have ?

[2022-07-26 10:02] Korak-997 commented on #12
Maybe this Issue need to be closed !
Because @wvh-shanee already gave the solution.
I finde the use case with email address is also a bit wild , Because no matter what you can extract some meaningful strings from it.

[2022-07-26 12:27] yassinrais commented on #73
Never mind i think its already working the uniq background color based on the ?name field 😅 Sorry for disturbing

[2022-07-26 12:27] #73 closed

[2022-07-26 12:40] LasseRafn commented on #12
I agree @Korak-997 !

[2022-07-26 12:40] #12 closed